*{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    margin: 0;
    
}

.form{
   
    width: 100%;
    display: flex;
    justify-content: center;
    margin:20px 0;
    position: relative;
}

.form_inp{
    display: flex;
    width: 60%; 
}
 a{
    cursor: pointer;
    text-decoration: none; 
}
.btn{
    cursor: pointer;
    padding: 0;
    width: 30%;
    opacity: 0.5;
    border:none;
    
    background-color: seashell;
    border: 2px solid black;
    border-left: none;
}
.btn:active{
    opacity: 1;
}

input{
    width: 70%;
    outline: none;
    border:2px solid black;
    
}
.red{
    color:red
}

.green{
    color:green
}
.black{
    color:black
}
.body_company{
margin :0 15px  ;
}
.main_container{
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    
    
}
.container{
    width: 100%;
  
    margin: 45px auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid grey;
   max-width: 900px;
   border-radius: 10px;
    box-shadow: 0px 0px 5px  black;
    
}
.container_active{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}
.container_shadow{
    box-shadow: 0px 0px 5px  black;

}


.result{
    color: blue;

    background-color: rgb(227, 247, 191);
    border: 2px solid black;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px 0;

    
    position: absolute;
    top: 21px;
    width: 60%;
    padding: 5px;
    
    
}
.spinner {
    width: 100%;
    
}
.result_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px  black;
    margin: 10px;
    background-color: rgb(255, 251, 198);
}
.result_btn_items{
    display: flex;
    width: 100%;
    
    align-items: center;
    padding: 5px 10px;
}

.result_btn_company{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.result_btn_company b{
    padding: 0px 7px;
}




.image{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.company_info{
    padding: 20px;
}
.company_name{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.company_name a{
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 3px 15px;
    background-color: rgb(252, 111, 111);
   
    border: 1px solid black;
}
.company_name a:active{
    color:black;
    background-color: rgb(255, 197, 111);

}
.company_name img{
    width: 100px;
}
.company_name h2{
    margin-left: 15px;
    color:blue;
    font-weight: normal;
}
.company_info h3{
    padding: 4px 10px;
    width: 100%;
    text-align: center;
    margin-left: 15px;
    color:rgb(3, 3, 46);
    font-weight: normal;
}
.company_name p{
    padding: 10px;
}
.spiner {
    display: none;
}
.spiner img{
    height: 50px;
    width: 50px;

}

.chart{
    width: 90%;
}
.container_marquee{
    width: 100%;
    overflow: hidden;
    height: 30px;

}
.marquee{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white; 
    width:300%;
}
.marquee_active{
   background-color: rgb(255, 251, 198); 
}
.marquee_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    animation: marquee_anim 40s linear infinite forwards;
}

.marquee_box p{
   margin: 0px 3px;
    font-weight: 700;
    font-size: 13px;
    
}

@keyframes marquee_anim {
    0%{
        transform:translateX(0%) ;
    }
    
    100%{
        transform:translateX(-100%) ;
    }
}

.burger{
    
    margin-left: 10px;
    min-width: 30px;
    text-align: end;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}
.burger_left{
    
    margin-right: 10px;
    min-width: 30px;
}
.burger_item{
    margin: 10px 5px;
    width: 22px;
    height: 22px;
    display: flex;
    padding: 9px 0px;
    display: none;
   justify-content: end;
   align-items: center;
    position: relative;
    cursor: pointer;   
}
.hr{
  border: 1px solid black;
  opacity: 0.8;
  width: 70%;
}
.burger_item::after{
    content: "";
    position: absolute;
    bottom: 2px;
    right: 0;
    border: 1px solid black;
    opacity: 0.8;
     width: 80%;
    
}
.burger_item::before{
    content: "";
    position: absolute;
    top: 2px;
    right: 0;
    border: 1px solid black;
    opacity: 0.8;
     width: 80%;
    
}
.burger_item_hover:hover hr{
    display: none;
}
.burger_item_hover:hover{
    justify-content: center;   
    border-radius: 5px;
    background: red;
 
}
.burger_item_hover:hover::before{
    transform: translateY(8px)rotateZ(45deg);
}
.burger_item_hover:hover::after{
    transform: translateY(-8px)rotateZ(-45deg);
}

.help_menu{
   
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;  
   
  
}

.help_div{
    border: 2px solid grey;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    border-bottom: hidden;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    padding: 5px 10px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    
}
.help_all{
    position: relative;
    
}
.help_items_all{
    cursor: pointer;
    background: chartreuse;
    padding:2px 4px;
    white-space: nowrap;
    box-shadow: 0px 0px 2px black;
    border-radius:5px;
    margin-right: 5px;
}
.items_all {
    position: absolute;
    top: 25px;left: 0;
    z-index: 2;
    background: rgb(253, 220, 220);
    box-shadow: 0px 0px 2px black;
    padding: 5px 10px;
    border-radius: 10px;
    display: none;
    width: 75vw;
    max-width: 680px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.items_all_info{
   position: relative;

}
.items_all_info button{
    position: absolute;
    top:-4px;right: 0;
    background: red;
    border: 1px solid black;
    border-radius: 5px;
}
.items{
    width: 100%;
    max-width: 70vw;
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-around;
    
   
}
.items button{
   padding: 2px 4px;
   margin:  5px;
   width: 60px;
}

.items button {
    cursor: pointer;
    background: rgb(248, 177, 177);
    outline: none;
    border: 1px solid black;
    font-weight: 600;
    border-radius: 5px;
}

.help_div input {
    width: 50px;

}
.help_items{
    display: flex;
    margin-right: 10px;
    width: 100%;
    align-items: center;
    
    flex-grow: 1;
    background: rgb(253, 220, 220);
    padding:3px 10px;
    overflow-x: auto;
    border-radius: 10px;
  
}

.help_items::-webkit-scrollbar-thumb {
    background-color: #1f0d0d;  
    
}

.help_items::-webkit-scrollbar-thumb:hover {
    background-color: #3b6ed3;
    
}

.help_items::-webkit-scrollbar {
   
    width: 7px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background-color:   rgb(253, 220, 220); 
}

.help_inp{
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.help_item_btn{
    border-radius: 5px;
    background: rgb(253, 220, 220); 
    border:1px solid black;
    font-weight: bold;
    padding: 0px  4px;
    color: black;
}
.clear_btn{
    background: rgb(229, 245, 187);
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}


.help_items p {
    margin: 0 3px;
}

.container_example{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    margin: 20px 20px;
    
   
    
}
.ex_a{
position: fixed;
top: 0px;
right: 0px;
border-radius: 4px;
background: red;
border:2px solid black;
padding: 0px 10px;
font-size: 18px;
line-height: 15px;
}

.wrapper {
    background: rgb(213, 255, 151);
    padding: 4px;
    display:flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
    border-radius: 10px;
    width: 240px;
   
}
.wrapper_info{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
}
.wrapper img{
    margin: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    width: 200px;
    background: white;
    
}
.wrapper_name{
    color:black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;

}

.wrapper_name a{
    
    flex-grow: 1;
    color:rgba(9, 26, 46, 0.631);
}





.help_inp_erorr{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 40px;
    left:5%;
    background: rgb(255, 203, 124);
    border-radius: 10px;
    width: 90%;
    height: 60vh;
    
    
}
.help_inp_erorr_blur{
    position: absolute;
    top: 0;right: 0;
    height: 100vh;
    width: 100vw;
    background:red;
    opacity: 0.9;
    
}

.error_div input{
    border: 2px solid red;
    text-align: center;
    width: 50px;
  }

.delete_error{
    position: absolute;
    top: 0;right: 0;
    border-top-right-radius: 10px;
    background:red;
    font-size:20px;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .help_inp  {
        display: none;
        
    }
    .clear_btn{
        margin-left: 0;
        padding: 0px 2px;
        font-weight:400;
    }
    .help_item_btn{
        padding:  2px;
        font-weight:400;
    }
    .result_btn_company p {
        display: none;
        
    }
  }
  @media only screen and (max-width: 600px) {
    .help_div{
        justify-content:center;
    }
    .result_btn_company p {
        display: none;
        
    }
    .help_items{
        display: none;
    }
    .items_all{
        left: -21vw;
    }
   
  }